@page
@model ListaUserModel
@{
    ViewData["Title"] = "Lista de usuários";
}
<h1>@ViewData["Title"]</h1>
<p>Página para listagem de usuários</p>
<div id="token">
</div>
<a asp-page="/index" >Home</a>